.block_q{
	position: relative;
	margin: 100px 0;
	padding: 50px;
}

.block_q:before{
	top: 0;
	left: 0;
	border-width:2px 0px 0px 2px;
}
.block_q:after{
	right: 0;
	bottom: 0;
	border-width:0px 2px 2px 0px;
}

.block_q:before,
.block_q:after{
	content: '';
	position: absolute;
	width: 60px;
	height: 60px;
	border-style: solid;
	border-color: black;
}
